.app-root {
  display: flex;
  flex-direction: column;

  row-gap: 0rem;
  column-gap: 0rem;

  font-size: 1.75rem;
  color: #EEEEEE;
  font-family: Arial, Helvetica, sans-serif;
}

.app-header {
  position: sticky;
  top: 0px;

  margin: 0.5rem 1rem 0.25rem;
  border: 0.25em blueviolet solid;
  padding: 0.1em;

  text-align: center;
  color: #393E46;
  background-color: #00ADB5;
}
