.chirps-editor-root {
  margin: 0.25rem 1rem;
  padding: 0.5em;

  color: #393E46;
  background-color: #00ADB5;
}

.chirps-editor-input-space {
  display: grid;
  margin: 0.1em 0.1em 0rem 0rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 5em;
}

textarea {
  border: 0px;
  border-radius: 5px;
  margin: 0rem 0.5rem 0rem 0rem;
  padding: 1rem;
  background-color: #EEEEEE;
  height: 5rem;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  margin: 0px;
  padding: 0px;
  height: 7rem;
  border: 0px;
  border-radius: 5px;
  font-weight: bold;

  transition: background-color 0.25s, color 0.25s;

  background-color: grey;
}

button:hover {
  cursor: pointer;
  background-color: cyan;

  color: blue;
}

button:active {
  background-color: #EEEEEE;
}
